body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background: #39150c url(Assets/IvyBackground.jpg) no-repeat fixed top center;
    padding: 0;
    margin: 0;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    background-size: 100% 100%;
    -o-background-size: 100% 100%;
}
h1{
    color: #603813;
    font-size: 3rem;
    margin-left: 5%;
}
h2{
    color: #603813;
}
a{
    text-decoration: none;
    color:black;
}

.wholePage{
    max-width: 98%;
    padding: 5px;
    margin: 5px;
    vertical-align: middle;
    display: inline-block;

}

.left{
    width: 35%;
    float: left;
    
}
.mainMenu{
    
    border: 8px cornflowerblue solid;
    border-radius: 8px;
    background-color: cornflowerblue;
}
#mainMenu{
    display: inline-block;
}
#mainMenu ul li{
    display: inline-block;
    padding: 1em;
}

.sideBar{
    margin-top: 5%;
    border: 3px gray solid;
    background-image: linear-gradient(to bottom right, white, gray);
    border-radius: 8px;
    width: 30%;
    height: 35em;
    float: left;
}
.sideBar h2{
    margin-left: 5%;
}
.sideBar ul li{
    text-decoration: none;
}

.inventory{
    width: 65%;
    margin-top: 5%;
    border: 3px transparent solid;
    float: right;
}
.panel{
    background-image:linear-gradient(to bottom right, white, purple);
    margin: 1%;
    padding: 2%;
    display: inline-block;
    border-radius: 2em;
    box-shadow: 1px 1px 5px #777;
    width: 40%;
    height: 20%;
}
.panel img{
    width: 90%;
    margin: 1%;
    border-radius: 20px;
    height: 70%;
}
.panel h3{
    text-align: center;
}


.middle{
    width: 20%;
    float: left;
    margin-left: 3%;
}

#logo{
    margin: auto;
    width: 50%;
}


#slider{
    overflow: hidden;
    border: 5px green solid;
    border-radius: 10px;
    width: 120%;
    max-height:31rem;    
}
#slider figure{
    position:relative;
    width: 1000%;
    margin: 0;
    left: 0;
    animation: 50s slider infinite;

}
#slider figure img{
    float: left;
    width: 10%;
}

@keyframes slider{
    0%{
        left: 0;
    }
    10%{
        left: 0;
    }
    12%{
        left: -100%;
    }
    22%{
        left: -100%;
    }
    24%{
        left: -200%;
    }
    34%{
        left: -200%;
    }
    36%{
        left: -300%;
    }
    46%{
        left: -300%;
    }
    48%{
        left: -400%;
    }
    58%{
        left: -400%;
    }
    60%{
        left: -500%;
    }
    70%{
        left: -500%;
    }
    72%{
        left: -600%;
    }
    82%{
        left: -600%;
    }
    84%{
        left: -700%;
    }
    94%{
        left: -700%;
    }
    96%{
        left: -800%;
    }
    100%{
        left: -800%;
    }
    
}




.right{
    width: 35%;
    float: right;
    margin-left: 2.5%;
}

.accountMenu {
    border: 8px cornflowerblue solid;
    border-radius: 8px;
    background-color: cornflowerblue;
    display: inline-block;
    width: 100%;
    margin-right: 5%;
}

.accountMenu li{
    list-style-type: none;
    display: inline-block;
}
.blog{
    margin-top: 5%;
    border: 5px red solid;
    border-radius: 20px;
    padding: 3px;
    background-image:linear-gradient(to bottom right, white, red);
    color:black;
    font-size: 140%;
    display: inline-block;
    vertical-align: middle;
}
.blog img{
    border-radius: 20px;
    width: 50%;
    float: right;
    margin-right: 2%;
}
.blogText{
    margin-left: 2%;
    width: 40%;
    border: 1px transparent solid;
}
.blog h2{
    text-decoration: underline;
    text-align: center;
    color: darkgoldenrod;
}




