body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background: #39150c url(Assets/IvyBackground.jpg) no-repeat fixed top center;
    padding: 0;
    margin: 0;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    background-size: 100% 100%;
    -o-background-size: 100% 100%;
}
h1{
    color: #603813;
}
h2{
    color: #603813;
}


.wholePage{
    max-width: 100%;
    padding: 5px;
    margin: 5px;
    vertical-align: middle;
    display: inline-block;

}

.left{
    width: 30%;
    float: left;
}
.mainMenu{
    border: 8px cornflowerblue solid;
    border-radius: 8px;
    background-color: cornflowerblue;
}
#mainMenu{
    display: inline-block;
}

.inventory{
    border: 5px transparent solid;
    display: inline-block;
}
.panel{
    background-image:linear-gradient(to bottom right, white, purple);
    margin: 0 0 2.0em 5px;
    padding: 1em 1em 1em 1.5em;
    display: inline-block;
    border-radius: 2em;
    box-shadow: 1px 1px 5px #777;
    width: 40%;
    height: 30%;
}
.panel img{
    width: 90%;
    margin: 0;
    border-radius: 20px;
    height: 170px;
}


.middle{
    width: 15%;
}


.right{
    width: 30%;
    float: right;
}











a{
    text-decoration: none;
    color:black;
}











#slider{
    overflow: hidden;
    border: 5px green solid;
    border-radius: 10px;
    width: 500px;
    height: 800px;
}
#slider figure{
    position:relative;
    width: 1000%;
    margin: 0;
    left: 0;
    animation: 50s slider infinite;

}
#slider figure img{
    float: left;
    width: 10%;
}

@keyframes slider{
    0%{
        left: 0;
    }
    10%{
        left: 0;
    }
    12%{
        left: -100%;
    }
    22%{
        left: -100%;
    }
    24%{
        left: -200%;
    }
    34%{
        left: -200%;
    }
    36%{
        left: -300%;
    }
    46%{
        left: -300%;
    }
    48%{
        left: -400%;
    }
    58%{
        left: -400%;
    }
    60%{
        left: -500%;
    }
    70%{
        left: -500%;
    }
    72%{
        left: -600%;
    }
    82%{
        left: -600%;
    }
    84%{
        left: -700%;
    }
    94%{
        left: -700%;
    }
    96%{
        left: -800%;
    }
    100%{
        left: -800%;
    }
    
}
